<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div class="createAccount">
	<div><h1>Sign Up for an Account</h1></div></br>
	        <%= form_for @user do |f| %>
	          <div>Username:</div>
	          <div><%= f.text_field :username %></div>
	          <div>Email:</div>
	          <div><%= f.text_field :email %></div>
	          <div>Password:</div>
	          <div><%= f.password_field :password %></div>
	          <div>Bio:</div>
	          <div><%= f.text_area :bio %></div>
	          <div>First Name:</div>
	          <div><%= f.text_field :name %></div>
	          <div>Favorite Bands:</div>
	          <div><%= f.text_field :faves %></div></br>
	          <%= f.submit "Save"%>
	          <% end %>
</div>   

</body>
</html>

  