<h1>User Profile</h1>
<div>Username: <%= @user.username %></div>
<div>name: <%= @user.name %></div>
<div>bio<%= @user.bio %></div>
<div>Email: <%= @user.email %></div>
<div>Location: <%= @user.location %></div>

