
<div class="profile">


	<div class = 'headerphoto'>
		<div class = 'header'>
			Hey <%= @user.name %>.
		</div>
		<div class = 'subheader'>
			Get Organized with AUXcord
		</div>
	</div>

<!-- Tabs -->
	<div class="navtabs">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
 			 <li class="nav-item">
   				 <a class="nav-link active" id="upcoming-tab" data-toggle="tab" href="#upcoming" role="tab"> Upcoming Events</a>
  			</li>
  			<li class="nav-item">
   				 <a class="nav-link" id="wishlist-tab" data-toggle="tab" href="#wishlist" role="tab"> Wishlist</a>
  			</li>
 			 <li class="nav-item">
  				  <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab">Concert History</a>
  			</li>
  			<li class="nav-item">
  				  <a class="nav-link" id="achievments-tab" data-toggle="tab" href="#achievments" role="tab">Achievments</a>
  			</li>
  			<li class="nav-item">
  				  <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab">Edit Your Profile</a>
  			</li>
		</ul>

	</div>	
</div>

<!-- tab content -->
<div class="tab-content">

 	<div class="tab-pane active" id="upcoming" role="tabpanel">
 		<div class = 'upcoming-photo'>
 			<div class = 'upcoming-header'> What Do You Have on Deck? </div>
 		</div>
 		<div class="user-container">
                <h1><u>These are your upcoming shows:</u></h1>
                <br/>

                <!-- the upcoming concerts from concert database-->
 				<%if @concerts_upcomings[0] == nil %>
 				     <h1>You don't have any shows listed here.</h1> 	 			    
	            <%else%>
	                <% @concerts_upcomings.each do |u|%>
		 				<%@event_id = u.api_id%>
		 			    <%response = HTTParty.get("http://app.ticketmaster.com/discovery/v2/events/#{@event_id}.json?apikey=#{ENV["API_KEY"]}", format: :plain)%>
		                <% @result = JSON.parse response, symbolize_names: true%>
		                <%currentDate = Date.today%>
	                    <%concertDate = Date::strptime(@result[:dates][:start][:localDate], "%Y-%m-%d")%>
	                    <!-- Check the concert if it's passed the date-->
	                    <%if currentDate > concertDate%>
	                        <% u.update(category: 'past_events')%>		        
	                    <%else%>	                
			                <div><h2><%= @result[:name] %></h2></div>
							<div><a href="/concertinfo/<%= @event_id %>"><img src="<%= @result[:images][5][:url] %>" width='300px'></a></div>
							<p><div name='concertDate'><%= @result[:dates][:start][:localDate]%></div></p>
							<p><%= @result[:dates][:start][:localTime]%></p>
							<p>Venue: <%= @result[:_embedded][:venues][0][:name]%></p>
							<!-- delete this concert from concert database-->
	                        <%= form_tag(concert_path, method: "delete") do %>
	                             <input type='hidden' name='api_id' value="<%=@event_id%>">
	                            <%= submit_tag("Delete this concert") %>	
                            <%end%>
                            </br>
                            <!-- add this concert to your google calendar-->
                            <%if @test != nil %>
                                <h1>Add this concert to your Google Calendar:</h1>
	                            <%= form_tag(new_event_path(@test), method: "post", :id => "add_event") do %>
								    <select id="calendar_id">
									    <% @calendar_list.items.each do |calendar| %>
	                                        <% if calendar.access_role == 'owner' %>
	                                        <option value="<%= calendar.id %>"><%= calendar.summary %></option>
	                                        <% end%>
	                                    <% end %>
	                                </select>
	                                <input type="hidden" name="concert_id" value="<%= @event_id%>"> 
	                                <%= submit_tag("Add Concert") %>
	                            <% end %>
	                            <%= form_tag(redirect_path, method: "get") do %>	         
							    <%= submit_tag "Switch Google Account" %>
                                <%end%>
	                        <%else%>
	                            <%= form_tag(redirect_path, method: "get") do %>	         
							    <%= submit_tag "Add It to Google Calendar" %>
                                <%end%>    
                            <%end%>

                            </br><hr></br>
                        <%end%>
                    <% end %>                  
                <%end%>
  			</div>
  		</div>

<div class="tab-pane" id="wishlist" role="tabpanel">
  	<div class = 'wishlist-photo'>
 		<div class = 'wishlist-header'> Your Dreams Go Here</div>
 	</div>
 			<div class="user-container">
 			<h1><u>These are shows you want to see:</u></h1>
            <br/>
 			<!-- the wishlist concerts from concert database-->
			<%if @concerts_wishlist[0] == nil %>
			    <div><h1>You don't have any shows listed here.</h1></div>			    
            <%else%>
	 			<% @concerts_wishlist.each do |u|%>
		 		    <%@event_id = u.api_id%>
		 			<%response = HTTParty.get("http://app.ticketmaster.com/discovery/v2/events/#{@event_id}.json?apikey=#{ENV["API_KEY"]}", format: :plain)%>
		            <% @result = JSON.parse response, symbolize_names: true%>	                
		            <div><h2><%= @result[:name] %></h2></div>
					<div><a href="/concertinfo/<%= @event_id %>"><img src="<%= @result[:images][5][:url] %>" width='300px'></a></div>
					<p><%= @result[:dates][:start][:localDate]%></p>
					<p><%= @result[:dates][:start][:localTime]%></p>
					<p>Venue: <%= @result[:_embedded][:venues][0][:name]%></p>
					<!-- delete this concert from concert database-->
					<%= form_tag(concert_path, method: "delete") do %>
                        <input type='hidden' name='api_id' value="<%=@event_id%>">
                        <%= submit_tag("Delete") %></br></br><hr></br>	
                    <% end %>
	            <%end%>
	        <%end%>    
	</div>
</div>
  	
<div class="tab-pane" id="history" role="tabpanel">
	<div class = 'history-photo'>
 		<div class = 'history-header'> Thanks for the Memories </div>
 	</div>

 			<!-- the past concerts from concert database-->
 			<div class="user-container">
 			<h1><u>These are shows you've seen:</u></h1>
            <br/>
			<%if @concerts_pastevents[0] == nil %>
			    <h1>You don't have any shows listed here.</h1> 	 			    
            <%else%>
	 			<% @concerts_pastevents.each do |u|%>
		 		    <%@event_id = u.api_id%>
		 			<%response = HTTParty.get("http://app.ticketmaster.com/discovery/v2/events/#{@event_id}.json?apikey=#{ENV["API_KEY"]}", format: :plain)%>
		            <% @result = JSON.parse response, symbolize_names: true%>
		            <% if Archive.find_by_api_id(@event_id)!= nil%>
		            <% else%>	
			            <% Archive.create(api_id: @event_id, user_id: current_user.id, name: @result[:name], img_url: @result[:images][5][:url], date: @result[:dates][:start][:localDate], time: @result[:dates][:start][:localTime], venue: @result[:_embedded][:venues][0][:name], info: @result[:info], category:@result[:classifications][0][:genre][:name] )%>
			        <% end %>                   
		            <div><h2><%= @result[:name] %></h2></div>
					<div><a href="/concertinfo/<%= @event_id %>"><img src="<%= @result[:images][5][:url] %>" width='300px'></a></div>
					<p><%= @result[:dates][:start][:localDate]%></p>
					<p><%= @result[:dates][:start][:localTime]%></p>
					<p>Venue: <%= @result[:_embedded][:venues][0][:name]%></p>

					<!-- add notes about the concert you attended -->	

					<div class = 'container-fluid'>
						<div class = 'row'>
							<div class = 'col-6'>

					<%= form_for u do |f| %>
	          		<div>Notes:</div>
	          		<div><%= f.text_area :notes, size: '30x10', placeholder: 'How was the show? Who did you go with? What songs did they play? Record your memories here.' %></div>
	          		<input type='hidden' value="<%= u.id%>">
	          	 	<%= f.submit "Add Notes"%>
	          		<% end %>
	          			</div>
	          		<br>

	       				<div class = 'col-6'>

	       		<div><%= image_tag u.image%></div>
	       		<br>
	       		<div class="image">
	       		<%= form_for u do |f| %>
	          		<div><%= f.file_field :image %></div>
	          		<div><%= f.submit "Upload Photo" %></div>
	          	</div>
	          		<% end %>
	       				</div>
	       			</div>
	       		</div>

	          		<br>
	                <!-- delete this concert from concert database-->
	                <%= form_tag(concert_path, method: "delete") do %>
                        <input type='hidden' name='api_id' value="<%=@event_id%>">
                        <%= submit_tag("Delete Concert") %></br></br><hr></br>	
                    <% end %>   
                <%end%>    
	        <%end%>    

</div>	
</div>

<div class="tab-pane" id="achievments" role="tabpanel">
		<div class = 'achievments-photo'> 
 			<div class = 'achivements-header'> Baby, You've Earned It</div>
 		</div>
 			
			<div class="user-container">
 			<!-- achivements determined by archive data --> 
 			<% if @archives.length == 0 %>
 			<div> You don't have any achievements yet. Start going to some concerts! </div>
 			<% end %>

 			<!-- awards initially appear faded, become sharper when earned -->
 			<div class = 'row'>
 				<div class = 'col-smal'>
 					<% if @archives.length >= 1 %>
 						<div class='visible'>
 					<% else %>
 						<div  class = 'grey'>
 					<% end %>
 							<div class = 'awardheader'> Fan </div>
 							<div class = 'award'> </div>
 							<div class =' awardtext'> 1 Concert <br> Attended</div>
 						</div>
 				</div>

			<div class = 'col-smal'>
 					<% if @archives.length >= 3 %>
 						<div class = 'visible'>
 					<% else %>
 						<div class = 'grey'>
 					<% end %>
 							<div class = 'awardheader'> Roadie</div>
 							<div class = 'award'> </div>
 							<div class =' awardtext'> 3 Concerts <br> Attended</div>
 						</div>
 				</div>
 			

 				<div class = 'col-smal'>
 					<% if @archives.length >= 5 %>
 						<div class = 'visible'>
 					<% else %>
 						<div class = 'grey'>
 					<% end %>
 							<div class = 'awardheader'> Opening Act</div>
 							<div class = 'award'> </div>
 							<div class =' awardtext'> 5 Concerts <br> Attended</div>
 						</div>
 				</div>
 			

 				<div class = 'col-smal'>
 					<% if @archives.length >= 10 %>
 						<div class = 'visible'>
 					<% else %>
 						<div class = 'grey'>
 					<% end %>
 							<div class = 'awardheader'> MC </div>
 							<div class = 'award'> </div>
 							<div class =' awardtext'> 10 Concerts <br> Attended</div>
 						</div>
 				</div>
 	
				<div class = 'col-smal'>
					<% if @archives.length >= 25 %>
						<div class = 'visible'>
					<% else %>
						<div class = 'grey'>
					<% end %>
							<div class = 'awardheader'> Shredder </div>
 							<div class = 'award'> </div>
 							<div class =' awardtext'> 25 Concerts <br> Attended</div>
 						</div>
 				</div>
 	
 				<div class = 'col-smal'>	
 					<% if @archives.length >= 50  %>
 						<div class = 'visible'>
 					<% else %>
 						<div class = 'grey'>
 					<% end %>
							<div class = 'awardheader'> Rock Star </div>
 							<div class = 'award'> </div>
 							<div class =' awardtext'> 50 Concerts <br> Attended</div>
 						</div>
 				</div>


 			<div class = 'col-smal'>
 				<% if @archives.length >= 100  %>
 					<div class = 'visible'>
 				<% else %>
 					<div class = 'grey'>
 				<% end %>		
 						<div class = 'awardheader'> Hall of Fame</div>
 						<div class = 'award'> </div>
 						<div class =' awardtext'> 100 Concerts <br> Attended</div>
 				</div>
			</div>


			<div class = 'col-smal'>
					<% if @archives.where(category: 'rock') != nil %>
						<div class = 'visible'>
 					<% else %>
 						<div class = 'grey'>
 					<% end %>		
 							<div class = 'awardheader'> Rock On</div>
 							<div class = 'award'> </div>
 							<div class =' awardtext'> 1 Rock Show <br> Attended</div>
 						</div>
 				</div>

 			<div class = 'col-smal'>
					<% if @archives.where(category: 'dance/electronica') != nil %>
						<div class = 'visible'>
 					<% else %>
 						<div class = 'grey'>
 					<% end %>		
 							<div class = 'awardheader'> Bass Drop</div>
 							<div class = 'award'> </div>
 							<div class =' awardtext'> 1 Dance/Electronica <br> Show Attended</div>
 						</div>
 				</div>


 			<div class = 'col-smal'>
					<% if @archives.where(category: 'hip-hop/rap') != nil %>
						<div class = 'visible'>
 					<% else %>
 						<div class = 'grey'>
 					<% end %>		
 							<div class = 'awardheader'> Rapper's Delight</div>
 							<div class = 'award'> </div>
 							<div class =' awardtext'> 1 Hip-Hop Show <br> Attended</div>
 						</div>
 				</div>

 			<div class = 'col-smal'>
					<% if @archives.where(category: 'country') != nil %>
						<div class = 'visible'>
 					<% else %>
 						<div class = 'grey'>
 					<% end %>		
 							<div class = 'awardheader'> Grand Ole Opry</div>
 							<div class = 'award'> </div>
 							<div class =' awardtext'> 1 Country Show <br> Attended</div>
 						</div>
 				</div>

 			<div class = 'col-smal'>
					<% if @archives.where(category: 'pop') != nil %>
						<div class = 'visible'>
 					<% else %>
 						<div class = 'grey'>
 					<% end %>		
 							<div class = 'awardheader'> Pop Life</div>
 							<div class = 'award'> </div>
 							<div class =' awardtext'> 1 Pop Show <br> Attended</div>
 						</div>
 				</div>
  		</div> 
  	</div>
</div>

		<div class="tab-pane" id="user" role="tabpanel">

			<div class = 'user-photo'>
 				<div class = 'user-header'> Be Yourself </div>
 			</div>

			<%= form_for @user do |f| %>
	          <div>Username:</div>
	          	<div><%= f.text_field :username %></div>
	          <div>Email:</div>
	          	<div><%= f.text_field :email %></div>
	          <div>Password:</div>
	         	<div><%= f.text_field :password %></div>
	          <div>Bio:</div>
	         	<div><%= f.text_area :bio %></div>
	          <div>Name:</div>
	         	<div><%= f.text_field :name %></div>
	          <div>favorites:</div>

	          	<div><%= f.text_field :faves %></div>
	         	<br>
	          <%= f.submit "Save"%></br></br><hr></br>	
          <% end %>


 	<div><%= link_to('Delete Your Account', user_path, method: :delete, class: 'delete')%></div>
</div>

</div>	
</div>
<script type="text/javascript" src="../../assets/javascripts/google_cal.js"></script>

