 <% if login_in? %>
        <% if current_user.id == @user.id %>

		<div class = 'headertop'>
			Hey <%= @user.name %>.
		<div class = 'subheader'>
			Get Organized with AuxCord
			</div>
		</div>

<!-- Tabs -->

		<ul class="nav nav-tabs" id="myTab" role="tablist">
 			 <li class="nav-item">
   				 <a class="nav-link active" id="upcoming-tab" data-toggle="tab" href="#upcoming" role="tab"> Upcoming Events</a>
  			</li>
  			<li class="nav-item">
   				 <a class="nav-link" id="wishlist-tab" data-toggle="tab" href="#wishlist" role="tab"> Wishlist</a>
  			</li>
 			 <li class="nav-item">
  				  <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab">Concert History</a>
  			</li>
  			<li class="nav-item">
  				  <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab">Edit Your Profile</a>
  			</li>
		</ul>

<!-- tab content -->
		<div class="tab-content">
 
 			<div class="tab-pane active" id="upcoming" role="tabpanel">
 				These are your upcoming shows:

				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				roident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  			</div>

  		<div class="tab-pane" id="wishlist" role="tabpanel">
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  		</div>
  	
  		<div class="tab-pane" id="history" role="tabpanel">
  		your history
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  	</div>

		<div class="tab-pane" id="user" role="tabpanel">
			<%= form_for @user do |f| %>
	          <div>Username:</div>
	          	<div><%= f.text_field :username %></div>
	          <div>Email:</div>
	          	<div><%= f.text_field :email %></div>
	          <div>Password:</div>
	         	 <div><%= f.text_field :password %></div>
	          <div>Bio:</div>
	         	 <div><%= f.text_area :bio %></div>
	          <div>Location:</div>
	         	 <div><%= f.text_field :location %></div>
	          <div>Name:</div>
	         	 <div><%= f.text_field :name %></div>
	          <div>favorites:</div>
	          	<div><%= f.text_field :faves %></div>
	          <%= f.submit "Save"%>
          <% end %>

 <div><%= link_to('Delete Your Account', user_path, method: :delete, class: 'delete')%></div>
</div>
</div>

	<% end %>

    <% else %>
    <h1>Account info not valid. please login</h1>    
	<% end %>
