<!DOCTYPE html>
<html>
<head>
  <title>AuxCord</title>
</head>
<body>

<div class="login">

<% if flash[:alert] %>
         <%= flash[:alert] %> 
<% end %>

<h2><u>Log In:</u></h2>

    <%= form_tag(login_path) do  %>
    <div class="user">Username: <%= text_field_tag :username%></div>
    <div class="pass">Password: <span class="box2"><%= text_field_tag :password, "", type: "password" %></span></div>
    <%= submit_tag 'Login' %>
    <% end %>
  </div>

</body>
</html>