<%= form_tag search_path do %>
    <%= text_field_tag :keyword %>
   <%= submit_tag "Search" %>
  <% end %>


<%if @results[:page][:totalElements] != 0 %>
  <p> We got <%= @results[:_embedded][:events].length %> results for you</p>
  <% @results[:_embedded][:events].each do |event| %>   
    <div><h3><%= event[:name] %></h3></div>
    <div><a href='/events/<%= event[:id] %>'><img src="<%= event[:images][2][:url] %>" width='305px'></a></div>
    <p><%= event[:dates][:start][:localDate]%> <%= event[:dates][:start][:localTime]%></p>
    <p>Venue: <%= event[:_embedded][:venues][0][:name]%></p>
  <% end %>
  <% else %>
    <h1>Opps, we can't find anything for you</h1>

<% end %>  

   