<%= form_tag search_path do %>
    <%= text_field_tag :keyword %>
   <%= submit_tag "Search" %>
  <% end %>

<p> length of events: <%= @results[:_embedded][:events].length %></p>
 <br />

 <% @results[:_embedded][:events].each do |event| %>
    <p><%= event[:name] %></p>
    <div class="event__box"><%= event %></div>
    <% end %>

