<div class="events">
<div><h1><%= @result[:name] %></h1></div>
<div><img src="<%= @result[:images][5][:url] %>" width='500px'></div>
<p><%= @result[:dates][:start][:localDate]%></p>
<p><%= @result[:dates][:start][:localTime]%></p>
<p><strong><u>Info:</u></strong>  <%= @result[:info] %></p>
<p><strong><u>Venue:</u></strong>  <%= @result[:_embedded][:venues][0][:name]%></p>
<p><strong><u>Address:</u></strong> <%= @result[:_embedded][:venues][0][:address][:line1]%>, <%=@result[:_embedded][:venues][0][:city][:name] %>, <%=@result[:_embedded][:venues][0][:state][:name] %> <%=@result[:_embedded][:venues][0][:postalCode]%></p>
<p><a href='https://maps.google.com/?q=<%= @result[:_embedded][:venues][0][:location][:latitude]%>,<%= @result[:_embedded][:venues][0][:location][:longitude]%>' target='blank'> map</a></p>

<%= form_tag("/concerts", method: "post") do %>
  <%= label_tag("Add to: ") %>
  <select name="category" id="city_id">
    <option value="wish_list">WishList</option>
    <option value="up_coming">Upcoming</option>
    <option value="past_events">My past events</option>
  </select>
  <% hidden_field_tag "api_id", @result[:id]%>
  <input type="hidden" name="api_id" value='<%= @result[:id]%>'>
  <% hidden_field_tag "user_id", current_user.id%>
  <%= submit_tag("Save") %>
<% end %>

<%= twitter_button %>
<%= facebook_button %>

</div>

<%# @concerts.each do |c| %>
<%#= c.api_id %>
<%#= c.category %>
<%#= c.user_id%>

<%# end %>

