<!DOCTYPE html>
<html>
  <head>
    <title>AuxCord</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

<div class="body">
  <body>
    <div class="container">
    <nav class="navbar">      
      <ul>
          <% if login_in? %>
            <li>Howdy! <%= current_user.username%></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/users/<%=current_user.id%>">Profile</a></li>
            <li><%= link_to'Sign Out', logout_path, method: :destroy %></li>
          <% else %>
            <% link_to root_path %>
          <% end %>              
      </ul>
    </nav>
  </div>
</div>
  	<% if flash[:message] %>
      <%= flash[:message] %>
    <% end%>
    <%= yield %>
  </body>
</html>
